<h1>Show Selected Article</h1>

<p>Title: <%= @article.title %></p>
<p>Content: <%= @article.content %></p>
<br>
<%= link_to "Back to Homepage", articles_path%>
<br>
<%= link_to "Edit Article", edit_article_path%>
